git+git://github.com/ebob9/slackbotjira.git@1d4b35e#egg=slackbotjira
beautifulsoup4==4.9.3
slackbot==1.0.0
pytz==2023.4
strict-rfc3339==0.7
python-dateutil==2.8.1
chardet==4.0.0
requests_cache==0.6.4

#test
pytest==6.2.4
