git+git://github.com/ebob9/slackbotjira.git@1d4b35e#egg=slackbotjira
beautifulsoup4==4.9.1
slackbot==1.0.0
pytz==2020.1
strict-rfc3339==0.7
python-dateutil==2.8.1
chardet==3.0.4
requests_cache==0.5.2

#test
pytest==6.0.0
